h1{
    display: flex;
    justify-content: center;
    background-color: seagreen;
    font-weight: bolder;
    color: black;
    font-style: italic;
}
.container{
    display: flex;
    justify-content: center;
    width: auto;
    height: 300px;
    padding: 10%;
}
 ul{
     display: flex;
     justify-content: space-between;
     padding: 15%;
     font-style: italic;
     font-size: 200%;
     font-weight: bolder;
     
 }
 .icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
 .icon-bar a {
    display:block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color:white;
    font-size: 20px;
  }
  .icon-bar a:hover {
   
   background-color: red;
  
  }
  
  .facebook {
    
    color: white;
  }
  
  .twitter {
    
    color: white;
  }
  
.linkedin {
 
  color: white;
}
.col {
  display: inline-flex;
  justify-content:center;
  padding: 10%;

 
  
}
.repositories {
  display: flex;
    
}
h2 {
  display: flex;
  justify-content: center;
  font-style: italic;
}
.footer {
  display: flex;
  display: inline-block;
  justify-content: center;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  
}
